.container {
  position  : relative;
  display   : inline-block;
  width     : 400px;
  height    : 200px;
  border    : 1px solid #0374A3;
  background: #051546;
  .borderDecorate;

  .title {
    margin-left   : 20px;
    margin-top    : 17px;
    font-family   : Helvetica;
    font-size     : 24px;
    font-weight   : 600;
    color         : #FFFFFF;
    letter-spacing: 1.33px;
  }

  .hideTitle {
    display: none;
  }
}

.borderDecorate {
  .angle{
    position       : absolute;
    padding        : 4px;
    border-style   : solid;
    border-color   : #00DAFF;
  }
  .rightAngle {
    // position       : absolute;
    // padding        : 4px;
    // border-style   : solid;
    // border-color   : #00DAFF;
    // border-width: 0 5px 5px 0;
  }

  .angle:nth-child(1) {
    .rightAngle;
    left        : -2px;
    top         : -2px;
    border-width: 1.5px 0 0 1.5px;
  }

  .angle:nth-child(2) {
    .rightAngle;
    right       : -2px;
    top         : -2px;
    border-width: 1.5px 1.5px 0 0;
  }

  .angle:nth-child(3) {
    .rightAngle;
    right       : -2px;
    bottom      : -2px;
    border-width: 0 1.5px 1.5px 0;
  }

  .angle:nth-child(4) {
    .rightAngle;
    left        : -2px;
    bottom      : -2px;
    border-width: 0 0 1.5px 1.5px;
  }

  .gradientCommon {
    width           : 50%;
    height          : 1px;
    background-image: linear-gradient(to right, #0374a31f, #00DAFF, #0374a31f);
    position        : absolute;
  }

  .topGradient {
    .gradientCommon;
    top : -1px;
    left: 8%;
  }

  .bottomGradient {
    .gradientCommon;
    right : 8%;
    bottom: -1px;
  }

  .lineCommon {
    width     : 2px;
    height    : 15%;
    background: #00DAFF;
    display   : inline-block;
    position  : absolute;
  }

  .leftLine {
    .lineCommon;
    top : 25%;
    left: -2px;
  }

  .rightLine {
    .lineCommon;
    bottom: 25%;
    right : -2px;
  }
}