.staffName {
  cursor: pointer;
}

.extraInfo {
  text-align   : left;
  line-height  : 24px;
  font-size    : 13px;
  color        : gray;
  margin-bottom: 30px;
  /* position  : relative; */
  /* top       : -6px; */
  margin-bottom: 30px;
}
