.staffName {
  cursor: pointer;
}

.title {
  line-height  : 24px;
  font-size    : 18px;
  color        : #303133;
  position     : relative;
  top          : -6px;
  // margin-bottom: 30px;
  display      : block;
}

.extraInfo {
  text-align   : left;
  line-height  : 24px;
  font-size    : 13px;
  color        : gray;
  margin-bottom: 30px;
  /* position  : relative; */
  /* top       : -6px; */
  margin-bottom: 30px;
}


.content {
  display        : flex;
  justify-content: center;
  align-items    : center;

  .select {
    width      : 200px;
    margin-left: 24px;
  }
}

.buttonArea {
  display        : flex;
  justify-content: center;
  margin-top     : 35px;

  button {
    border-radius: 20px;
  }
}