.container {
  background-color: #040733;
  width           : 1921px;
  height          : 1080px;

  .header {
    height           : 76px;
    background-image : url(../../assets/header.png);
    background-repeat: no-repeat;
    background-size  : 100% 100%;
    font-family      : PingFangSC-Regular;
    font-size        : 36px;
    color            : #FFFFFF;
    letter-spacing   : 2px;
    text-align       : center;
  }

  .content {
    margin: 26px 31px;

    .top {
      display      : flex;
      height       : 340px;
      margin-bottom: 20px;

      .topRight {
        width: 1340px;
      }
    }

    .bottom {
      display: flex;
      height : 580px;
    }
  }
}