.content {
  height: 986px;
  margin: -61px 34px 36px;
  display: flex;
  .left,
  .right {
    width: 482px;
  }
  .center {
    width: 888px;
    .centertop {
      position: relative;
      top: 54px;
      height: 811px;
    }
    .centerbottom {
      height: 197px;
    }
  }
}
