.table {
  border: 1px solid #ebeef5;

  :global {
    .ant-table-thead>tr>th {
      background  : white;
      border-right: 1px solid #ebeef5;
      padding     : 8px 0px;
      color       : #85a1b9;
    }

  }
}